<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Register Success</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        p {
            font-size: 30px;
          }
           body{
            padding-top: 20vh;
        }
    </style>
</head>
<body>
<div class="container" align="center">
    <div>
        <img src="https://www.topgear.com/sites/default/files/news-listicle/image/polestar2_performance_hde_magnesium_015_0.jpg"
             style="width:350px;height:300px;"  >
    </div>
    <span>
<p> You have successfully registered. Please check your email address:</p>
    <b>
        <a href="https://login.yahoo.com/" target="_blank"> <p th:text="${user.email}"></p> </a>
    </b>
</span><br><br><br>

    <a href="/login"><b>Login</b></a>&nbsp;&nbsp;&nbsp;&nbsp;

</div>
</body>
</html>